git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/rapptz/discord-ext-menus
git+https://github.com/oliver-ni/discord-ext-menus-views
akinator.py
asyncpg
psutil
mystbin.py
aioredis[hiredis]
uvloop
requests-html
pytube
